
<div class="pane">
    <h1>{{album.artist}}</h1>
    <h3>Album reviews</h3>
    
    <div class="reviews">
       
    <div class="cover review">
    <img src="/images/{{album.src}}" alt="{{album.name}}">
    </div>

    <div class="content">
         <hr>
        <h1 class="movie_title">{{album.name}}</h1><br/>
        <h2>{{album.artist}}</h2><br/>
        <h3>Genre: {{album.genre}}</h3><br/>
        <p>{{album.description}}</p><br>
    <button class="calltoaction" id="cta_index"><a href="/">Go back</a></button>
    </div>


</div>
</div>
